<mat-table [dataSource] = "courses" class="mat-elevation-z8 mx-auto table">

    <ng-container matColumnDef = "id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.couseId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef = "courseName">
        <mat-header-cell *matHeaderCellDef> Course Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef = "skillName">
        <mat-header-cell *matHeaderCellDef> Skill Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.skillName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef = "batchName">
        <mat-header-cell *matHeaderCellDef> Batch Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.batchName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "mentorShare">
        <mat-header-cell *matHeaderCellDef> Mentor Share % </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mentorShare}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "studentFee">
        <mat-header-cell *matHeaderCellDef> Student Fee </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.studentFee}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button class="btn btn-primary mr-2" (click)="editCourse(element.couseId)">Edit</button>
            <button class="btn btn-danger" (click)="deleteCourse(element.couseId)">Delete</button>
          </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
</mat-table>