.bg-img {
  background-image: url('../../assets/images/login.png');
  min-height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  /* .container{
    height: 100%;
    align-content: center;
  }

  .register {

  } */
  
  .card{
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
    width: 45%;
    background-color: rgba(0,0,0,0.6) !important;
    }
  
      
  .card-header h3{
    color: white;
  }
  
  .input-group-prepend span{
    width: 100%;
    background-color: #FFC312;
    color: black;
    border:0 !important;
  }
  
  input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
  
  }
  
  .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
  }
  
  .login_btn:hover:enabled{
    color: black;
    background-color: white;
  }
