<div class="container">
    <div class="card m-3">
        <h5 class="card-header">Add Training</h5>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    
                    <div class="form-group col-6">
                        <label>Training Name</label>
                        <input type="text" formControlName="trainingName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.trainingName.errors }" />
                        <div *ngIf="submitted && f.trainingName.errors" class="invalid-feedback">
                            <div *ngIf="f.trainingName.errors.required">Training Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label>Skill</label>
                        <select formControlName="skill" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.skill.errors }">
                            <option value=""></option>
                            <option value="java">Java</option>
                            <option value="dotNet">Dot Net</option>
                            <option value="python">Python</option>
                        </select>
                        <div *ngIf="submitted && f.skill.errors" class="invalid-feedback">
                            <div *ngIf="f.skill.errors.required">skill is required</div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label>Batch</label>
                        <select formControlName="batch" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.batch.errors }">
                            <option value=""></option>
                            <option value="batch1">9 AM - 11 AM</option>
                            <option value="batch1">10 AM - 12 AM</option>
                            <option value="batch1">2 PM - 4 PM</option>
                            <option value="batch1">6 PM - 8 PM</option>
                        </select>
                        <div *ngIf="submitted && f.batch.errors" class="invalid-feedback">
                            <div *ngIf="f.batch.errors.required">Batch is required</div>
                        </div>
                    </div>
                </div>
               
                <div class="form-row">
                    <div class="form-group col">
                        <label>Student Fee</label>
                        <input type="number" formControlName="studentFee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.studentFee.errors }" />
                        <div *ngIf="submitted && f.studentFee.errors" class="invalid-feedback">
                            <div *ngIf="f.studentFee.errors.required">Student fee is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Mentor Comission</label>
                        <input type="number" formControlName="mentorFee" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mentorFee.errors }" />
                        <div *ngIf="submitted && f.mentorFee.errors" class="invalid-feedback">
                            <div *ngIf="f.mentorFee.errors.required">Field is required</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div> -->
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Register</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
