/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link{
    text-decoration:none;
}
a{
    outline:none;
}
/*clearfix*/
.grouping:before,
.grouping:after{
    content: " ";
    display: table;
}
.grouping:after{
    clear: both;
}

img.iframe,video,object{
    max-width:100%;
}
html{
    box-sizing:border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}

nav{
    background-color:#fff;
    position:fixed;
    left:0;
    right:0;
    top:0;
}
.primary-nav{
    float:left;
}
.primary-nav>li{
    float:left;
}
.primary-nav>li>a{
    padding:25px0;
    width:250px;
    border-left:10x solid red;
    display:block;
}
    /*.primary-nav>li:nth-of-type(2)>a{background-color:aqua;}*//*.primary-nav>li:nth-child(odd)>a{background-color:aqua;}*/
nav li a{
    font-family:Arial,Helvetica,sans-serif;
    color:#766e65;
    text-transform:uppercase;
    font-size:20px;
    text-align:center;
    transition:.15s background-color linear;
}
nav li a:focus,
nav li a:hover,
nav li a:active{
    background-color:#eb2428;
    color:#fff;
}
nav figure img{
    width: 100PX;
}