<mat-table [dataSource] = "approvals" class="mat-elevation-z8 mx-auto table">


    <ng-container matColumnDef = "courseName">
        <mat-header-cell *matHeaderCellDef> Course Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.courseName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef = "batchName">
        <mat-header-cell *matHeaderCellDef> Batch Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.batchName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "studentName">
        <mat-header-cell *matHeaderCellDef> Student Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef = "action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button class="btn btn-primary mr-2" (click)="approveTraining(element)">Approve</button>
            <button class="btn btn-danger" (click)="rejectTraining(element)">Reject</button>
          </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
</mat-table>